body {
    min-width:960px;
}
#header {
    position:relative;
}
#branding {
    width:960px;
    margin:0 auto;
}
#access {
    position:relative;
    overflow:hidden;
}
.menu {
    width:960px;
    margin:0 auto;
}
#main {
    width:960px;
    margin:auto;
    position:relative;
}
#container {
    width:960px;
}
#footer {    
    /*clear:both;*/
}
#siteinfo {
    clear:both;
    width:960px;
    margin:0 auto;
}